*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}


body{

    background-image:
    linear-gradient(
        rgba(0,0,0,0.55),
        rgba(0,0,0,0.55)
    ),
    url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");

    background-size:cover;
    background-position:center;
    background-attachment:fixed;

    color:white;

}



header{

    background:rgba(0,90,45,0.9);

    padding:20px 50px;

    position:sticky;

    top:0;

    z-index:100;

}



nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

}



nav h1{

    font-size:30px;

}



nav ul{

    display:flex;

    list-style:none;

    gap:25px;

}



nav ul li a{

    color:white;

    text-decoration:none;

    font-weight:bold;

}



nav ul li a:hover{

    color:#b5ffb5;

}





/* Home Section */


.home{

    min-height:85vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}



.main-box{

    width:700px;

    text-align:center;

    background:rgba(255,255,255,0.15);

    backdrop-filter:blur(12px);

    padding:45px;

    border-radius:25px;

}



.main-box h2{

    font-size:42px;

    margin-bottom:20px;

}



.main-box p{

    font-size:18px;

    line-height:1.6;

}





.input-box{

    margin-top:30px;

    display:flex;

    flex-direction:column;

    gap:15px;

}



.input-box input{

    padding:15px;

    border-radius:10px;

    border:none;

    font-size:16px;

}



button{

    padding:15px;

    border:none;

    border-radius:30px;

    background:#16a34a;

    color:white;

    font-size:18px;

    cursor:pointer;

}



button:hover{

    background:#0b7a35;

    transform:scale(1.05);

}



#result{

    margin-top:25px;

    font-size:18px;

}







/* Features */


.modules{

    padding:60px 8%;

    text-align:center;

    background:rgba(0,0,0,0.4);

}



.modules h2{

    font-size:35px;

    margin-bottom:35px;

}



.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

}



.card{

    background:white;

    color:#222;

    padding:30px;

    border-radius:20px;

    transition:0.4s;

}



.card:hover{

    transform:translateY(-10px);

}



.card h3{

    color:#087f23;

    margin-bottom:15px;

}



.card p{

    line-height:1.5;

}







footer{

    background:#064d24;

    text-align:center;

    padding:30px;

}





/* Mobile Responsive */


@media(max-width:768px){


nav{

    flex-direction:column;

}



nav ul{

    margin-top:15px;

    flex-direction:column;

}



.main-box h2{

    font-size:30px;

}


}